<mat-card>
    <h1>Update Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form *ngIf="quiz" (ngSubmit)="updateForm()">
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Enter Title</mat-label>
                        <input [(ngModel)]="quiz.title" type="text" name="title" placeholder="Enter Here" matInput>
                    </mat-form-field>
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Description</mat-label>

                        <textarea [(ngModel)]="quiz.description" name="description" matInput placeholder="Enter here"
                            rows="5"></textarea>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- MAx MArks -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Max Marks</mat-label>
                                <input [(ngModel)]="quiz.maxMarks" type="text" name="maxMarks" placeholder="Enter Here"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- No of questions -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Total Questions</mat-label>
                                <input [(ngModel)]="quiz.numberOfQuestions" type="text" name="noOfQuestions"
                                    placeholder="Enter Here" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- active field -->

                    <mat-slide-toggle name="active" [(ngModel)]="quiz.active" class="mt20">
                        Publish Status
                    </mat-slide-toggle>
                    <br>
                    <!-- Category -->
                    <mat-form-field appearance="outline" class="mt20 w100">
                        <mat-label>Select Category</mat-label>
                        <mat-select [(ngModel)]="quiz.category.cid" name="category">
                            <mat-option *ngFor="let c of categories" [value]="c.cid">{{c.title}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Update</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</mat-card>
<!-- {{quiz |json}} -->