<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt10">
                <!-- <div class="container"> -->
                <!-- <img src="../../../assets/logo.jpg" alt=""> -->
                <!-- </div> -->
                <mat-card>
                    <h1 class="text-center">Register Here</h1>
                    <!-- {{user |json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required [(ngModel)]="user.userName" name="userName" matInput
                                placeholder="Enter Here">

                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <mat-hint>Username Must be unique</mat-hint>
                        </mat-form-field>

                        <!-- Password -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                placeholder="Enter Here">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                        </mat-form-field>

                        <!-- First Name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name </mat-label>
                            <input required [(ngModel)]="user.firstName" name="firstName" matInput
                                placeholder="Enter Here">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                        </mat-form-field>



                        <!-- Last Name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input required [(ngModel)]="user.lastName" name="lastName" matInput
                                placeholder="Enter Here">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                        </mat-form-field>

                        <!-- Email -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                placeholder="Enter Here">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                        </mat-form-field>



                        <!-- Phone no. -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input required [(ngModel)]="user.phone" name="phone" type="number" matInput
                                placeholder="Enter Here">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->

                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>
                    </form>
                </mat-card>
            </div>


        </div>


    </div>


</div>